* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: ivory;
}

#topbar {
  display:flex;
  justify-content: center;
}

#container {
  display: flex;
}

#quizbox {
  display: flex;
  border: 10px black;
}

#questions {
  display:flex;
  flex-direction: column;
  align-content: center;
}

#options {
  display: flex;
  flex-direction: column;
}

#finish {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
