* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  display: flexbox;
  background-color: ivory;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-around;
}

.quizbox {
  display: block;
  justify-content: center;
}

.questions {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
